body
{
    background-color: #0ae20a;
}

.header
{


    display:flex;
    justify-content: space-between;
}

.grid
{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.item
{
    position: relative;
}

.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity: 0.33;
}